PORT=3000
ADMIN_PASSWORD=change-this-to-a-long-password
# Public HTTPS origin used for sharing links and QR codes
# PUBLIC_URL=https://photos.example.com
# DATA_DIR=./data
# UPLOAD_CONCURRENCY=3
# IMAGE_CONCURRENCY=1
# SHARP_CACHE_MB=32
